# ignore node/grunt dependency directories
node_modules/

# ignore all local environment setup (.vagrant)
.vagrant

# composer vendors
vendor/*
!vendor/.gitkeep

# wp configs
config/*
!config/.gitkeep

web/*
!web/.gitkeep
!web/index.php
!web/wp-config.php

web/app/mu-plugis/*
web/app/plugins/*
web/app/themes/*
web/app/uploads/*
!web/app/mu-plugis/.gitkeep
!web/app/plugins/.gitkeep
!web/app/themes/.gitkeep
!web/app/uploads/.gitkeep
