# ignore node/grunt dependency directories
node_modules/

# ignore all local environment setup (.vagrant)
.vagrant

# composer vendors
vendor/

# wp configs
config/

web/*
!web/.gitkeep
!web/index.php
!web/wp-config.php

!web/app*
